html , body{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
}

/* ---NavBar---- */

nav{
  height: 100vh;
  background-color: rgb(43, 43, 43);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
} 
nav .logo-container,
nav .controls-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

nav .logo-container img{
  width: 50px;
  cursor: pointer;
}

nav .icon{
  cursor: pointer;
  color: white;
  font-size: 3rem;
}

/* ---Dashboard---- */

.dashboard{
  padding: 2rem;
  width: 100%;
}

.dashboard .reservation-container{
  height: 80vh;
  overflow: scroll;
}

/* ---Reservation---- */

.reservation-card{
  display: flex;
  width: 100%;

}

.reservation-card #link{
  display: flex;
  width: 100%;
}

.reservation-card #link > *{
  background-color: rgb(167, 167, 167);
  margin: 0.3rem;
  padding: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.reservation-card .reservation-color{
  width: 0.1rem !important;
  padding: 0.1rem !important;
  margin: 2px;
}

.reservation-card .photo-container{
  display: flex;
  justify-content: center;
  width: 2rem;
}

.reservation-card .img-container{
  height: 50px; 
  width: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.reservation-card .img-container img{
  width: 100%;
}

.reservation-card .status-display{
  display: flex;
  justify-content: center;
  
}